.red {
  color: red;
}

.voilet {
  color: rgb(155, 104, 155);
}

.indigo {
  color: indigo;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.orange {
  color: orange;
}

.teal {
  color: teal;
}

.silver {
  color: aqua;
}

.gold {
  color: gold;
}
